@import 'tailwindcss';
@tailwind utilities;

/* ----------------- Buttons ----------------- */
.edit_btn{
    @apply w-3/4 h-full border border-green-700 rounded-xl text-green-700 hover:bg-green-800 hover:text-white hover:border-0 active:bg-green-700 active:scale-[0.98] ;
}
.delete_btn{
    @apply w-3/4 h-full border border-red-700 rounded-xl text-red-700 hover:bg-red-800 hover:text-white hover:border-0 active:bg-red-700 active:scale-[0.98];
}
.add-btn{
    @apply w-full h-10 mt-3 border border-blue-300 text-blue-500 rounded-2xl hover:bg-blue-500 hover:text-white active:bg-blue-800 active:text-white active:scale-[0.98];
}


/* ----------------- Scrollbar ----------------- */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}