@import 'tailwindcss';
@tailwind utilities;

/* ----------------- Buttons ----------------- */
.add-btn{
    @apply w-full h-10 mt-3 border border-blue-300 text-blue-500 rounded-2xl hover:bg-blue-500 hover:text-white active:bg-blue-800 active:text-white active:scale-[0.98];
}


/* ----------------- Scrollbar ----------------- */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* ----------------- Custom Scrollbar ----------------- */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}